clearfix()
	&:after
		content ''
		display table
		clear both

justify()
	width 100%

grid(num=1, size=12)
	float left
	display block
	width (100%/size)*num
	min-height 1px

row()
	clearfix()
	margin 0 auto

noselect()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none