@import "styles/_layout.styl"
body
	margin 0
	padding 0
	font-family Helvetica, Arial, serif
	font-size 16px
	color $textColor

.l-logo
	row()
	margin-top 15px
	width $contentWidth
	display block
	height 100px
	background url('pictures/globe.svg') no-repeat center
	background-size contain
.l-content
	row()
	width $contentWidth
	text-align center
	min-height: 200px
.b-title
	font-size 24px
	line-height 160%
.b-text
	line-height 160%